<style>
  .search-btn {
    background-color: #fe424d;
    color: aliceblue;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: aliceblue;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
  .mobile-search {
    display: none;
  }



  @media only screen and (max-width: 600px) {

    .mobile-search {
    display: inline;
  }
  .big-screen-srch {
    display: none;
  }
  .search-input-mobile {
    border-radius: 20px;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    font-size: 1rem;
  }
  .search-btn-mobile{
    background-color: #fe424d;
    color: aliceblue;
    border-radius: 15px;
    padding: 0 0.5rem 0 0.5rem;
    margin-left: 0.2rem;
  }
  .navbar-nav {
    background-color: whitesmoke;
  }

  

  }




</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-location-arrow"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav ms-auto mobile-search">
      <form class="d-flex" role="search" action="/listings" method="get">
        <input
          class="form-control  search-input-mobile"
          type="search"
          placeholder="Search destinations"
          name ="q"
        />
        <button class="btn search-btn-mobile" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto big-screen-srch">
        <form class="d-flex" role="search" action="/listings" method="get">
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search destinations"
            name ="q"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">WanderLuxe your home</a>
        <% if(!currUser) {%>
        <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Log In</b></a>
        <% } %> <% if(currUser) {%>
        <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>


