<% layout("/layouts/boilerplate") %>
<body>
  <div class="new-listing">
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <form
          action="/listings"
          method="post"
          novalidate
          class="needs-validation"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              name="listing[title]"
              placeholder="add a catchy title"
              class="form-control"
              id="title"
              required
            />
            <div class="valid-feedback">Title looks good</div>
            <div class="invalid-feedback">Please enter a good title</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              name="listing[description]"
              cols="30"
              rows="2"
              id="description"
              class="form-control"
              required
            ></textarea>
            <div class="valid-feedback">Description looks good</div>
            <div class="invalid-feedback">Please enter a good description</div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input
              type="file"
              name="listing[image]"
              required
              id="image"
              class="form-control"
            />
          </div>

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input
                name="listing[price]"
                placeholder="enter price"
                min="0"
                id="price"
                class="form-control"
                required
              />
              <div class="valid-feedback">Price looks good</div>
              <div class="invalid-feedback">Please enter a valid price</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input
                type="text"
                name="listing[country]"
                placeholder="enter your country"
                id="country"
                class="form-control"
                required
              />
              <div class="valid-feedback">country name looks good</div>
              <div class="invalid-feedback">Please enter country name</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              placeholder="enter your location"
              id="location"
              class="form-control"
              required
            />
            <div class="valid-feedback">Location looks good</div>
            <div class="invalid-feedback">Please enter location</div>
          </div>

          <!-- Dropdown field -->
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>

            <select
              name="listing[category]"
              id="category"
              class="form-control"
              required
            >
              <option value="rooms">Select a category</option>

              <option value="mountains">Mountains</option>

              <option value="arctic">Arctic</option>

              <option value="castles">Castles</option>

              <option value="amazing pools">Amazing Pools</option>

              <option value="farms">Farms</option>

              <option value="camping">Camping</option>

              <option value="rooms">Rooms</option>

              <option value="iconic cities">Iconic Cities</option>

              <option value="domes">Domes</option>

              <option value="boats">Boats</option>
            </select>

            <div class="valid-feedback">Category selected</div>

            <div class="invalid-feedback">Please select a category</div>
          </div>

          <button class="btn btn-dark add-btn">Add</button>
        </form>
      </div>
    </div>
  </div>
</body>
