<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (msg && msg.length > 0) { %>
        <div class="flash-message">
            <%= msg[0] %>
        </div>
    <% } %>
    <h1>Hello <%=name%></h1>
</body>
</html>